@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,300);

//colors
$color1: #edeff0;
$color2: #585a61;
$color3: #999999;
$color4: #f5f5f5;
$color5: rgba(51, 54, 63, 0.4);
$color5: rgba(51, 54, 63, 0.8);
$color6: #ffffff;

//fonts
$font_0: Oxygen;
$font_1: sans-serif;

%extend_1 {
	color: $color6;
	display: block;
	float: left;
	text-decoration: none;
	width: 75px;
	background: $color2;
	border-top: 1px solid $color2;
	border-bottom: 1px solid $color2;
	@include transition-property(all);
	@include transition-duration(.5s);
}

%extend_2 {
	height: 50px;
	@include border-radius(0px, 0px);
}


body {
	background-color: #EDEFF0;
	color: #585A61;
	font-family: $font_0, $font_1;
	&.color6 {
		background-color: $color6 !important;
	}
}
.row {
	margin-left: 0;
	margin-right: 0;
}
a {
	color: #85B5BB;
	@include transition-property(all);
	@include transition-duration(.4s);
	@include transition-timing-function(ease);
	@include transition-delay(0s);
	&.block:hover {
		text-decoration: none !important;
		color: inherit !important;
		opacity: 0.7;
	}
}
#wrapper {
	padding-left: 70px;
	@include transition-property(all);
	@include transition-duration(.4s);
	@include transition-timing-function(ease);
	@include transition-delay(0s);
	height: 100%;
	&.full {
		padding-left: 0 !important;
		#sidebar-wrapper {
			display: none !important;
		}
	}
	&.active {
		padding-left: 75px;
		#sidebar-wrapper {
			left: 75px;
		}
	}
}
#sidebar-wrapper {
	margin-left: -75px;
	left: 70px;
	width: 75px;
	background: $color2;
	position: fixed;
	height: 100%;
	z-index: 10000;
	transition: all .4s ease 0s;
	li a .fa {
		font-size: 27px;
		text-align: center;
	}
}
.sidebar-nav {
	display: block;
	float: left;
	width: 75px;
	list-style: none;
	margin: 0;
	padding: 0;
	&.bottom {
		bottom: 0;
		position: absolute;
	}
	li a {
		@extend %extend_1;
		color: $color3;
		display: block;
		text-decoration: none;
		&:hover {
			color: $color6;
			text-decoration: none;
		}
		&:active {
			text-decoration: none;
		}
		&:focus {
			text-decoration: none;
		}
	}
	> .sidebar-brand {
		height: 65px;
		line-height: 60px;
		font-size: 18px;
		a {
			color: $color3;
			&:hover {
				color: $color6;
				background: none;
			}
			&.active {
				color: $color6;
				background: none;
			}
		}
	}
}
#page-content-wrapper {
	padding-left: 0;
	margin-left: 0;
	height: auto;
	padding: 20px;
	width: 100%;
}
.sidebar_name {
	padding-top: 25px;
	color: $color6;
	opacity: .7;
}
#main_icon {
	float: right;
	padding-right: 27px;
	padding-top: 20px;
}
.sub_icon {
	float: right;
	padding-right: 27px;
	padding-top: 10px;
}
.content-header {
	height: 65px;
	line-height: 65px;
	h1 {
		margin: 0;
		margin-left: 20px;
		line-height: 65px;
		display: inline-block;
	}
}
@media(max-width:767px) {
	#wrapper {
		padding-left: 70px;

		@include transition-property(all);
		@include transition-duration(.4s);
		@include transition-timing-function(ease);
		@include transition-delay(0s);

		&.active {
			padding-left: 75px;
			#sidebar-wrapper {
				left: 75px;
				width: 75px;
				@include transition-property(all);
				@include transition-duration(.4s);
				@include transition-timing-function(ease);
				@include transition-delay(0s);
			}
		}
	}
	#sidebar-wrapper {
		left: 70px;
	}
}
.nav-tabs {
	li {
		width: 33.3%;
		a {
			border-left: none;
			background: #F5F5F5;
			padding: 30px;
			color: $color5;
			@include transition-property(color);
			@include transition-duration(.4s);
			@include border-radius(0px, 0px);
			margin: 0;
			font-size: 22px;
			font-weight: 300;
			min-height: 139px;
			&.single {
				font-size: 22px;
				font-weight: 300;
			}
			&:hover {
				color: $color5;
			}
			&:focus {
				color: #85B5BB !important;
			}
		}
		&:last-child a {
			border-right: none;
		}
		&:first-child a {
		}
		&.active a {
			color: #85B5BB;
			&:hover {
				color: #85B5BB;
			}
		}
	}
	> li {
		&.active > a {
			border-color: $color6 $color6 transparent;
			&:hover {
				border-color: $color6 $color6 transparent;
			}
			&:focus {
				border-color: $color6 $color6 transparent;
			}
		}
		> a {
			border: none !important;
		}
	}
}
#heading-tabs {
	a {
		cursor: pointer;
	}
	li .fa {
		display: block;
		font-size: 40px;
		margin-bottom: 10px;
	}
}
.tab-pane {
	background-color: $color6;
	padding: 20px;
}
.breadcrumb {
	background-color: $color6 !important;
	@include border-radius(0px, 0px);
}
.well {
	@include border-radius(0px, 0px);
	padding: 30px;
	background-color: $color6;
	border: none;
	box-shadow: none;
	color: #85B5BB;
	font-size: 22px;
	font-weight: 300;
	.fa {
		display: block;
		font-size: 40px;
		margin-bottom: 10px;
	}
	&.grey {
		background: none repeat scroll 0 0 $color4 !important;
		padding: 0;
		a {
			color: $color5 !important;
			text-decoration: none !important;
			cursor: pointer;
			display: block;
			height: 100%;
			width: 100%;
			padding: 40px 30px;
			h1 {
				margin: 0 !important;
			}
			&:hover {
				color: $color5 !important;
			}
			&:focus {
				color: $color5 !important;
			}
		}
		&:hover {
			background-color: $color1 !important;
		}
		&:focus {
			background-color: $color1 !important;
		}
	}
}
.box-wrapper {
	padding: 35px 20px;
	background-color: $color6 !important;
}
.tooltip-inner {
	width: auto;
	padding: 5px 10px;
	background-color: $color2;
	font-size: 14px;
	min-width: 50px;
}
.login-logo {
	margin-bottom: 20px;
}
.btn {
	padding: 15px 20px;
	@include border-radius(0px, 0px);
	min-height: 50px !important;
	&.btn-xs {
		padding: 7px 12px;
		min-height: 0 !important;
	}
}
.btn-primary {
	background-color: #85B5BB;
	border: none;
	&:hover {
		background-color: #85B5BB;
		opacity: 0.8;
		border: none;
	}
}
.modal-content {
	@include border-radius(0px, 0px);
	box-shadow: none;
	border: none;
}
.logo {
	width: 30px;
	height: 30px;
	background-image: url(simple.png);
	background-image: url("simple.png");
	background-position: -71px -23px;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 86px;
	margin-bottom: 20px;
	width: 86px;
}
.sav {
	.well {
		position: relative;
		display: block;
		padding: 0;
		color: $color2 !important;
		font-weight: normal !important;
		.fa {
			display: inline-block !important;
			font-size: 12px !important;
		}
	}
	.row > .col-md-4 {
		display: inline-block;
		padding: .33rem;
		width: 100%;
		float: none;
	}
}

* {
	@include box-sizing(border-box);
	&:before {
		@include box-sizing(border-box);
	}
	&:after {
		@include box-sizing(border-box);
	}
}

#login-overlay {
	label {
		font-size: 16px;
	}
	button[type=submit] {
		margin-top: 25px;
	}
	.form-control {
		height: 46px;
		padding: 10px 12px;
		@include border-radius(0px, 0px);
	}
	.well {
		padding: 0;
	}
	.modal-header {
		padding: 15px 30px;
	}
}

.or {
	margin-top: 10px;
	margin-bottom: 10px;
}

textarea {
	min-height: 100px;
	box-shadow: none !important;
	@include border-radius(0px, 0px);
}

.multipleOptionsBox {
	margin-top: 20px;
}

hr {
	color: $color2;
	background-color: $color2;
}

.magin-top-20 {
	margin-top: 20px;
}

#sidebar_menu li a {
	@extend %extend_1;
}

.tooltip.right .tooltip-arrow {
	border-right-color: $color2;
}

span.poll-title {
	font-size: 25px;
	line-height: 30px;
}

.masonry-grid .col-md-4 {
	margin-bottom: 20px;
}

.footer-icons .fa {
	font-size: 18px;
}

#home-grid .well {
	padding: 0;
	a.block {
		padding: 30px;
		display: block;
	}
}

input[type=search].form-control {
	@extend %extend_2;
}

input[type=text].form-control {
	@extend %extend_2;
}

input[type=password].form-control {
	@extend %extend_2;
}

input[type=email].form-control {
	@extend %extend_2;
}

.panel.inner {
	border-radius: 0 !important;
	@include border-radius(0px, 0px);
	box-shadow: none !important;
	.panel-heading {
		padding: 15px 20px !important;
	}
}

.btnGroup .btn {
	min-height: 52px;
	border: none !important;
	border-color: none !important;
}

.tab-content .table {
	width: 98%;
	margin: 20px auto 20px auto;
}