@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700,300);

body {
  background-color: #EDEFF0;
  color: #585A61;
  font-family: 'Oxygen', sans-serif;
}

/* #FF9800 - Orange colour */

.row{
    margin-left:0px;
    margin-right:0px;
}

a {
  color:#85B5BB;
  transition: all .4s ease 0s;
}

body.white {
  background-color: #ffffff !important;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}


#wrapper.full {
  padding-left: 0px !important;
}

#wrapper.full #sidebar-wrapper {
  display: none !important;
}


#sidebar-wrapper {
    margin-left: -75px;
    left: 70px;
    width: 75px;
    background: #585a61;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 75px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav.bottom {
  bottom:0px;
  position: absolute;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
    padding:20px;
}
#wrapper.active {
    padding-left: 75px;
}
#wrapper.active #sidebar-wrapper {
    left: 75px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #ffffff;
    display: block;
    float: left;
    text-decoration: none;
    width: 75px;
    background: #585a61;
    border-top: 1px solid #585a61;
    border-bottom: 1px solid #585a61;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

#sidebar-wrapper li a .fa {
  font-size: 27px;
  text-align: center;
}

.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  /*text-indent: 20px;*/
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  /*background: rgba(255,255,255,0.2);*/
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover, .sidebar-nav > .sidebar-brand a.active {
  color: #fff;
  background: none;
}

#main_icon
{
   float:right;
   padding-right: 27px;
   padding-top:20px;
}
.sub_icon
{
   float:right;
   padding-right: 27px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 75px;
}
#wrapper.active #sidebar-wrapper {
    left: 75px;
    width: 75px;
    transition: all .4s ease 0s;
}
}

.nav-tabs li a {
    /*border-right: 1px solid #dde2e6;*/
    border-left:none;
    background: #F5F5F5;
    padding: 30px;
    color: rgba(51, 54, 63, 0.4);
    -webkit-transition: color, 0.4s;
    -moz-transition: color, 0.4s;
    transition: color, 0.4s;
    border-radius:0px;
    margin:0px;
    font-size: 22px;
    font-weight: 300;
    min-height: 139px;
}

.nav-tabs li a.single {
  font-size: 22px;
  font-weight: 300;
}

.nav-tabs li:last-child a {
  border-right:none;
}

.nav-tabs li {
  width:33.3%;  
}
.nav-tabs li:first-child a {
  /*border-left: 1px solid #dde2e6;*/
}
.nav-tabs li a:hover {
    color: rgba(51, 54, 63, 0.8);
    /*background: #f4f7f9;*/
    /*border-color: #dde2e6;*/
}
.nav-tabs li.active a {
/*    border-color: #dde2e6;
    border-bottom-color: #fff;*/
    color: #85B5BB;
}
.nav-tabs li.active a:hover {
    color: #85B5BB;
}

.nav-tabs li.active  {
    color: #85B5BB;
}

.nav-tabs li a:focus {
  color: #85B5BB !important;
}

#heading-tabs li .fa {
  display: block;
  font-size: 40px;
  margin-bottom:10px;
}

.tab-pane {
  background-color: #ffffff;
  padding:20px;
/*  border-left:1px solid #dde2e6;
  border-right:1px solid #dde2e6;
  border-bottom:1px solid #dde2e6;*/
}

.breadcrumb {
  background-color: #ffffff !important;
  border-radius: 0px;
}

.well {
  padding:30px;
  background-color: #ffffff;
  border:none;
  border-radius: 0px;
  box-shadow: none;
  color: #85B5BB;
  font-size: 22px;
  font-weight: 300;
}

.well .fa {
  display: block;
  font-size: 40px;
  margin-bottom:10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-color: #fff #fff transparent;
}

.nav-tabs > li > a {
  border:none !important;
}

.box-wrapper {
  padding:35px 20px;
  background-color: #ffffff !important;
}

.tooltip.right .tooltip-arrow {
/*  top: 0;
  left: 50%;
  margin-left: -5px;*/
  border-right-color: #585a61; /* black */
  /*border-width: 0 5px 5px;*/
}

.tooltip-inner {
  width:auto;
  padding:5px 10px;
  background-color: #585a61;
  font-size: 14px;
  min-width: 50px;
}

.login-logo {
  margin-bottom:20px;
  /*margin-left:10px;*/
}

.btn {
  border-radius: 0px;
  padding:15px 20px;
}

.btn-primary {
  background-color: #85B5BB;
  border:none;
}

.btn-primary:hover {
  background-color: #85B5BB;
  opacity: 0.8;
  border:none;
}

span.poll-title {
  font-size: 25px;
  line-height: 30px;
}  

.masonry-grid .col-md-4 {
  margin-bottom:20px;
}

.footer-icons .fa {
  font-size: 18px;
}

.modal-content {
  border-radius:0px;
  box-shadow: none;
  border:none;
}

.logo {
  width:30px;
  height:30px;
  display: block;
  float:left;
  background-image: url(simple.png);
  background-repeat: no-repeat;
  background-image: url("simple.png");
    background-position: -71px -23px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 86px;
    margin-bottom: 20px;
    width: 86px;
}

.sav {

}

*, *:before, *:after {box-sizing:  border-box !important;}


.sav .row {
 -moz-column-width: 25em;
 -webkit-column-width: 25em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
  
}

.sav .row > .col-md-4 {
 display: inline-block;
 padding:  .33rem;
 width:  100%; 
 float:none;
}

.sav .well {
 position:relative;
 display: block;
 padding:0px;
}

.sav .well .fa {
  display: inline-block !important;
  font-size: 12px !important;

}

.sav .well {
  color:#585a61 !important;
  font-weight: normal !important;
}

a.block:hover {
  text-decoration: none !important;
  color: inherit !important;
  opacity: 0.7;
}

#home-grid .well {
  padding:0px;
}

#home-grid .well a.block {
  padding:30px;
  display: block;
}

#login-overlay label {
  font-size: 16px;
}

.or {
  margin-top:10px;
  margin-bottom:10px;
}

#login-overlay button[type=submit] {
  margin-top:25px;
}

#login-overlay .form-control {
  height:46px;
  padding:10px 12px;
  border-radius: 0px;
}

#login-overlay .well {
  padding:0px;
}

#login-overlay .modal-header {
  padding:15px 30px;
}

input[type=search].form-control, input[type=text].form-control, input[type=password].form-control, input[type=email].form-control   {
  height:50px;
  box-shadow: none !important;
  border-radius: 0px;
}

textarea {
  min-height:100px;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.btn {
  border-radius: 0 ;
  min-height: 52px !important;
}

.well.grey {
  background:none repeat scroll 0 0 #f5f5f5 !important;
  padding:0px;
}

.well.grey a h1 {
  margin:0px !important;
}

.well.grey a {
  color: rgba(51, 54, 63, 0.4) !important;
  text-decoration: none !important;
  cursor: pointer;
  display: block;
  height:100%;
  width:100%;
  padding:40px 30px;
}

.well.grey a:hover, .well.grey a:focus {
  color:rgba(51, 54, 63, 0.8) !important;
}

.well.grey:hover, .well.grey:focus {
  background-color: #eee !important;
}

.panel.inner {
  border-radius: 0px !important;
  box-shadow: none !important;
}

.panel.inner .panel-heading {
  padding:15px 20px !important;
}

#heading-tabs a {
  cursor: pointer;
}

