!!!
%html
  %head
    %title Pollerr
    %meta{content: "width=device-width, user-scalable=no", name: "viewport"}
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "lib/bootstrap/dist/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "src/css/areo.css", :rel => "stylesheet"}
    %link{:href => "src/css/pollerr.css", :rel => "stylesheet"}
  %body
    .container
      =get_notifications
      =yield
