!!!
%html
  %head
    %title Pollerr
    %meta{content: "width=device-width, user-scalable=no", name: "viewport"}
    %link{:href => "lib/bootstrap/dist/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "src/css/bootstrap.min.css", :rel => "stylesheet"}
  %body
    .container
      =get_notifications
      =yield
