!!!
%html{"ng-app" => "PollerrApp"}
  %head
    %title Pollerr
    %base{href:"/"}
    %meta{content: "width=device-width, user-scalable=no", name: "viewport"}
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "lib/bootstrap/dist/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "src/css/bootstrap.min.css", :rel => "stylesheet"}
  %body
    #wrapper
      .container
        #header
   
        #content
          .dashboard-wrapper
            =get_notifications
            -partial(:'partials/_flash')
            =yield
   
      #footer
        .container

    %script{:src => "http://www.google.com/jsapi"}
    %script{:src => "lib/jquery/dist/jquery.min.js"}
    %script{:src => "lib/bootstrap/dist/js/bootstrap.min.js"}
    %script{:src => "lib/angular/angular.min.js"}
    %script{:src => "lib/angular-route/angular-route.min.js"}
    %script{:src => "lib/angular-resource/angular-resource.min.js"}
    %script{:src => "lib/angular-messages/angular-messages.min.js"}
    %script{:src => "lib/angular-flash/dist/angular-flash.min.js"}
    %script{:src => "lib/angular-summernote/dist/angular-summernote.min.js"}
    %script{:src => "lib/angular-ui-utils/ui-utils.min.js"}
    %script{:src => "lib/angular-bootstrap/ui-bootstrap.min.js"}
    %script{:src => "src/js/app.js"}
    %script{:src => "src/js/controllers.js"}
    %script{:src => "src/js/factories.js"}
    %script{:src => "src/js/filters.js"}
    %script{:src => "src/js/directives.js"}
    %script{:src => "src/js/ng-really.js"}
    %script{:src => "src/js/graph.js"}