!!!
%html{"ng-app" => "PollerrApp"}
  %head
    %title Pollerr
    %base{href:"/"}
    %meta{content: "width=device-width, user-scalable=no", name: "viewport"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "src/css/pollerr.css", :rel => "stylesheet", "ng-if" => " PAGE != 'take-survey' "}
  %body{"ng-class" => " { white: PAGE == 'take-survey' } "}
    #wrapper{"ng-class" => "{ full: sidebarHide == true }" }
      #sidebar-wrapper
        %ul#sidebar.sidebar-nav{"ng-controller" => "NavigationController", "ng-class" => "{ hidden: PAGE == 'take-survey' }"}
          %li.sidebar-brand
            %a.text-center{"data-placement" => "right", "data-toggle" => "tooltip", :href => "./", :title => "Dashboard", "ng-click" => "click('dashboard')", "ng-class" => "{ active: PAGE == 'dashboard' }"}
              %i.fa.fa-dashboard
          %li.sidebar-brand
            %a.text-center{"data-placement" => "right", "data-toggle" => "tooltip", :href => "javascript:;", :title => "Polls", "ng-click" => "click('polls')", "ng-class" => "{ active: PAGE == 'polls' }"}
              %i.fa.fa-bar-chart
          / %li.sidebar-brand
          /   %a.text-center{"data-placement" => "right", "data-toggle" => "tooltip", :href => "javascript:;", :title => "Statistics", "ng-click" => "click('statistics')", "ng-class" => "{ active: PAGE == 'statistics' }"}
          /     %i.fa.fa-line-chart
          %li.sidebar-brand
            %a.text-center{"data-placement" => "right", "data-toggle" => "tooltip", :href => "javascript:;", :title => "Settings", "ng-click" => "click('settings')", "ng-class" => "{ active: PAGE == 'settings' }"}
              %i.fa.fa-cog
        %ul.sidebar-nav.bottom{"ng-controller" => "NavigationController", "ng-class" => "{ hidden: PAGE == 'take-survey' }" }
          %li.sidebar-brand
            %a.text-center{"data-placement" => "right", "data-toggle" => "tooltip", :href => "javascript:;", :title => "Logout", "ng-click" => "click('logout')"}
              %i.fa.fa-sign-out

      #page-content-wrapper.container
        .page-content.inset
          .row
            .col-md-offset-1.col-md-10
              -partial(:'partials/_flash')
              =yield
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"}
    %script{:src => "http://www.google.com/jsapi"}
    %script{:src => "lib/angular/angular.min.js"}
    %script{:src => "lib/angular-route/angular-route.min.js"}
    %script{:src => "lib/angular-resource/angular-resource.min.js"}
    %script{:src => "lib/angular-messages/angular-messages.min.js"}
    %script{:src => "lib/angular-flash/dist/angular-flash.min.js"}
    %script{:src => "lib/angular-cookies/angular-cookies.min.js"}
    %script{:src => "lib/angular-ui-utils/ui-utils.min.js"}
    %script{:src => "lib/angular-bootstrap/ui-bootstrap.min.js"}
    %script{:src => "lib/angular-animate/angular-animate.min.js"}
    %script{:src => "src/js/app.js"}
    %script{:src => "src/js/controllers.js"}
    %script{:src => "src/js/factories.js"}
    %script{:src => "src/js/filters.js"}
    %script{:src => "src/js/directives.js"}
    %script{:src => "src/js/ng-really.js"}
    %script{:src => "src/js/flash-alert-directive.js"}
    %script{:src => "src/js/graph.js"}
    %script{:src => "src/js/site.js"}