#login-overlay.modal-dialog
  %img.login-logo{:src => "logo.png"}/
  .modal-content
    .modal-header
      %h4#myModalLabel.modal-title Login / Regsiter
    .modal-body
      .row
        .col-xs-12
          .well
            %form#loginForm{:action => "/login/", :method => "POST", :novalidate => "novalidate"}
              .form-group
                %label.control-label{:for => "username"} Username / Email Address
                %input#username.form-control{:name => "username", :placeholder => "example9807 / example@gmail.com", :required => "", :title => "Please enter you username", :type => "text", :value => ""}/
                %span.help-block
              .form-group
                %label.control-label{:for => "password"} Password
                %input#password.form-control{:name => "password", :placeholder => "********", :required => "", :title => "Please enter your password", :type => "password", :value => ""}/
                %span.help-block
              %button.btn.btn-primary.btn-block{:type => "submit"} Login
            .text-center.or
              OR
            %p
              %a.btn.btn-default.btn-block{:href => "register.php"} Register now!