<h1>Edit question "{{ question.title }}" from <a href="javascript:;" ng-click="poll_location(poll.id)">{{ poll.title }}</a></h1>

<form class="form-horizontal" name="newQuestion" novalidate>

  <form-field record="question" field="title" type="text" live="false" required="true"></form-field>

  <div class="row">

    <div class="col-md-12">
      
      <label class="control-label"> Required <span ng-if="required">*</span></label><br />
      
      <label class="checkbox-inline">
        <input type="radio" ng-model="question.required" value="Y" ng-checked="settings.required_by_default == 'Y'" /> Yes
      </label>
      <label class="checkbox-inline">
        <input type="radio" ng-model="question.required" value="N" ng-checked="settings.required_by_default == 'N'" /> No
      </label>

    </div>

  </div>

 <div class="row">

    <div class="col-md-12">
      
      <label class="control-label"> Question type <span ng-if="required">*</span></label><br />
    
      <label class="checkbox-inline">
        <input type="radio" ng-model="question.kind" value="open" ng-checked="true" /> Open
      </label>
      <label class="checkbox-inline">
        <input type="radio" ng-model="question.kind" value="multiple" /> Multiple Choice
      </label>

    </div>

  </div>

  <br />

  <div ng-hide="checkKind()">

    <div class="multipleOptionsBox">
      
      <div ng-repeat="item in question.possible_answer">
        <div class="row form-group">
          <div class="col-md-12">
            <nested-field record="question.possible_answer[$index]" question="question" field="title" live="false" required="true" type="text" index="{{ $index }}"></nested-field>
          </div>
        </div>
      </div>

      <button ng-click="addInput()" class="btn btn-default btn-block">New Item</button>
    
    </div>

  </div> 

  <div class="clearfix"></div>

  <div class="col-md-12 form-group">
    <button class="btn btn-primary" ng-click="save()">Update Question</button>
  </div>

</form>