<div class="row block-of-three">
    
  <div class="col-md-12">

    <ol class="breadcrumb" ng-controller="NavigationController">
        <li><a href="javascript:;" ng-click="click('dashboard')">Home</a></li>
        <li><a href="javascript:;" ng-click="click('polls')">Polls</a></li>
        <li>New Question</li>
    </ol>
      
    <div class="well text-center">
      
      <i class="fa fa-bar-chart"></i>
      &nbsp;
      New Question

   </div>

  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    
    <div class="well">
      <strong>Adding new question to <a href="javascript:;" ng-click="poll_location(poll.id)">{{ poll.title }}</a></strong>
    </div>
    
  </div>
</div>


<form class="form-horizontal" name="newQuestion" novalidate>

  <div class="row">

    <div class="col-md-12">
      <form-field record="question" field="title" type="text" live="false" required="true"></form-field>
    </div>

    <div class="col-md-6">
      
      <label class="control-label"> Required <span ng-if="required">*</span></label><br />
      
      <label class="checkbox-inline">
        <input type="radio" ng-model="question.required" value="Y" ng-checked="settings.required_by_default == 'Y'" /> Yes
      </label>
      <label class="checkbox-inline">
        <input type="radio" ng-model="question.required" value="N" ng-checked="settings.required_by_default == 'N'" /> No
      </label>

    </div>

    <div class="col-md-6">
      
      <label class="control-label"> Question type <span ng-if="required">*</span></label><br />
    
      <label class="checkbox-inline">
        <input type="radio" ng-model="question.kind" value="open" ng-checked="true" /> Open
      </label>
      <label class="checkbox-inline">
        <input type="radio" ng-model="question.kind" value="multiple" /> Multiple Choice
      </label>
     
      <div ng-hide="checkKind()">

        <div class="multipleOptionsBox">
          
          <div ng-repeat="item in question.possible_answer_attributes">
            <div class="row form-group">
              <div class="col-md-12">
                <nested-field record="question.possible_answer_attributes[$index]" question="question" field="title" live="false" required="true" type="text" index="{{ $index }}"></nested-field>
              </div>
            </div>
          </div>

          <button ng-click="addInput()" class="btn btn-default btn-block">New Item</button>

        </div>

      </div> 

    </div>

  </div>

  <br />


  <hr>

  <div class="col-md-12">
    <button class="btn btn-primary" ng-click="save()">Add Question</button>
  </div>

</form>